{% extends "layout.html" %}

{% block main %}

    <div class="herob">
        <h1>Tasbeeh</h1>
        <p> { وَسَبِّحْ بِحَمْدِ رَبِّكَ قَبْلَ طُلُوعِ الشَّمْسِ وَقَبْلَ غُرُوبِهَا } </p>
    </div>



    <div class="cards-container-vertical">

        <div class="cards">
            <div class="zekr">
                <p class="verse">
                   سبحان اللهِ عدَدَ ما خلق ، سبحان اللهِ مِلْءَ ما خلَق ،
                    سبحان اللهِ عدَدَ ما في الأرضِ [والسماءِ] سبحان اللهِ مِلْءَ ما في الأرضِ والسماءِ ، سبحان اللهِ عدَدَ ما أحصى كتابُه ،
                    سبحان اللهِ مِلْءَ ما أحصى كتابُه ، سبحان اللهِ عددَ كلِّ شيءٍ ، سبحانَ اللهِ مِلْءَ كلِّ شيءٍ ،
                    الحمدُ للهِ عددَ ما خلق ، والحمدُ لله مِلْءَ ما خلَق ، والحمدُ لله عدَدَ ما في الأرضِ والسماءِ 
                   ، والحمدُ لله مِلْءَ ما في الأرضِ والسماءِ ، والحمدُ للهِ عدَدَ ما أحصى كتابُه ، 
                   والحمدُ لله مِلْءَ ما أحصى كتابُه ، والحمدُ للهِ عدَدَ كلِّ شيءٍ ، والحمدُ للهِ مِلْءَ كلِّ شيءٍ
                </p>
                <div class="counter-container">
                    <span class="counter-reset" data-max="10000" data-current="0">0</span>
                    <button class="counter-btn-reset">+</button>
                    <button class="reset-btn">⟲</button>
                </div>
            <a href="https://dorar.net/hadith/sharh/92065" class="info-link" target="_blank">فضل قول الذكر</a>
            </div>
        </div>


        <div class="cards">
            <div class="zekr">
                <p class="verse">
                   سبحانَ اللَّهِ العظيمِ وبحمدِه
                </p>
                <div class="counter-container">
                    <span class="counter-reset" data-max="10000" data-current="0">0</span>
                    <button class="counter-btn-reset">+</button>
                    <button class="reset-btn">⟲</button>
                </div>
            <a href="https://dorar.net/hadith/sharh/86584" class="info-link" target="_blank">فضل قول الذكر</a>
            </div>
        </div>


        <div class="cards">
            <div class="zekr">
                <p class="verse">
                   سُبحانَ اللهِ والحمدُ للهِ ولا إلهَ إلَّا اللهُ واللهُ أكبَرُ
                </p>
                <div class="counter-container">
                    <span class="counter-reset" data-max="10000" data-current="0">0</span>
                    <button class="counter-btn-reset">+</button>
                    <button class="reset-btn">⟲</button>
                </div>
            <a href="https://dorar.net/hadith/sharh/20506" class="info-link" target="_blank">فضل قول الذكر</a>
            </div>
        </div>


        <div class="cards">
            <div class="zekr">
                <p class="verse">
                   لا حَوْلَ ولَا قُوَّةَ إلَّا باللَّهِ
                </p>
                <div class="counter-container">
                    <span class="counter-reset" data-max="10000" data-current="0">0</span>
                    <button class="counter-btn-reset">+</button>
                    <button class="reset-btn">⟲</button>
                </div>
            <a href="https://dorar.net/hadith/sharh/908" class="info-link" target="_blank">فضل قول الذكر</a>
            </div>
        </div>




        <div class="cards">
            <div class="zekr">
                <p class="verse">
                  اللَّهُــمَّ صـَلِّ وَسَـــلِّمْ وبارك علـى سيدنا مُحمَّد وآله ﷺ.
                </p>
                <div class="counter-container">
                    <span class="counter-reset" data-max="10000" data-current="0">0</span>
                    <button class="counter-btn-reset">+</button>
                    <button class="reset-btn">⟲</button>
                </div>
            <a href="https://dorar.net/aadab/91" class="info-link" target="_blank">فضل قول الذكر</a>
            </div>
        </div>


        <div class="cards">
            <div class="zekr">
                <p class="verse">
                  اللهمَّ إنك عفوٌّ تُحبُّ العفوَ فاعفُ عنِّي
                </p>
                <div class="counter-container">
                    <span class="counter-reset" data-max="10000" data-current="0">0</span>
                    <button class="counter-btn-reset">+</button>
                    <button class="reset-btn">⟲</button>
                </div>
            <a href="https://dorar.net/hadith/sharh/116980" class="info-link" target="_blank">فضل قول الذكر</a>
            </div>
        </div>



    </div>


{% endblock %}